{% extends "base.html" %}
{% block title %}Ulug`nor Tumani{% endblock title %}
{% block content %}
    <article class="relative inline-block mb-4 shadow-lg hover:shadow-2xl">
        <a href="{% url 'pages:post_detail' latest_post.id %}">
            <div>
                <img src="{{ latest_post.image.url }}" alt="{{ latest_post.title }}" class="w-full h-auto rounded-lg">
                <div class="absolute inset-0 flex items-end justify-start text-white bg-black bg-opacity-60 rounded-lg">
                    <div class="text-start p-4 pb-2 pl-2">
                        <h2 class="text-lg font-bold">{{ latest_post.title }}</h2>
                        <p class="mt-2 text-xs">{{ latest_post.text|truncatewords:5 }}</p>
                    </div>
                </div>
            </div>
        </a>
    </article>  
    <article class="md:grid md:grid-cols-3 grid grid-cols-1 gap-4">
        {% for post in other_posts %}
            <a href="{% url 'pages:post_detail' post.id %}" class="py-6 flex justify-between items-start gap-1 bg-white p-4 rounded-lg shadow-lg hover:shadow-2xl">
                <div class="flex-1">
                    <h2 class="text-xl font-medium line-clamp-2">{{ post.title }}</h2>
                    <p class="text-xs my-2 line-clamp-2">{{ post.text|truncatewords:5 }}</p>
                    <p class="text-xs">{{ post.pub_date|date:"H:i" }} • <span class="font-medium">Sardor Sirojiddinov</span></p>
                </div>
                <div class="relative w-20 h-20">
                    <img src="{{ post.image.url }}" class="absolute inset-0 w-full h-full object-cover rounded-lg">
                </div>
            </a>
        {% endfor %}
    </article>
{% endblock content %}
